torch
lightning
pandas
numpy
torchmetrics
transformers
opencv-python
albumentations
jpeg4py
timm
einops
positional-encodings
python-dotenv
jpeg4py
jsonargparse[signatures]>=4.27.7
pyarrow
positional-encodings
albumentations
python-dotenv
huggingface_hub
datasets
scikit-image
matplotlib
seaborn